---
import './featuredBanner.css';
import { CoolCanvasBanner } from '../CoolCanvasBanner/CoolCanvasBanner';
---

<section id="featuredBanner">
	<CoolCanvasBanner client:load />
	<h1>Fabric.js 是一款功能强大，使用简单，操作Canvas最流行的Javascript库</h1>
	<p>
		一款超强大的HTML5
		Canvas的js插件库，提供丰富的面向对象的交互设计方式，并且支持SVG和Canvas之间的互相转换
	</p>
</section>
