---
import Layout from '../layouts/Layout.astro';
import FeaturedBanner from '../components/FeaturedBanner/FeaturedBanner.astro';
import Features from '../components/Features/Features.astro';
import ContributorsList from '../components/ContributorsList/ContributorsList.astro';
---

<Layout
	title="FabricJS中文文档"
	description="fabric,fabricjs特性描述,开发团队,fabricjs中文官方网站,fabricJs中文手册,fabricjs中文网站,fabricjs中文文档,fabricjs.com,canvas,javascript,vue,react,绘图,画板,类库,游戏,流程图,flowchart,动画,画布,教程,学习"
>
	<main>
		<FeaturedBanner />
		<Features />
		<ContributorsList />
	</main>
</Layout>
