---
import Layout from '../layouts/Layout.astro';
import TeamMember from '../components/TeamMember/index.astro';
import TeamMemberName from '../components/TeamMemberName/index.astro';
---

<Layout
	title="Fabric.JS Team"
	description="fabric,fabricjs特性描述,开发团队,fabricjs中文官方网站,fabricJs中文手册,fabricjs中文网站,fabricjs中文文档,fabricjs.com,canvas,javascript,vue,react,绘图,画板,类库,游戏,流程图,flowchart,动画,画布,教程,学习"
>
	<main class="darkBg">
		<h1>Fabric.JS 团队介绍</h1>
		<TeamMember imgSrc="/andrea.png">
			<p>
				<TeamMemberName name="Andrea Bogazzi" githubName="asturur" /> 出生于1979,
				意大利罗马.
				<br />
				自从2005年开始，他就成为了一名软件开发工程师.
				<br />
				他从 PHP、Javascript、HTML + CSS 开始，使用 LAMP 技术栈，自 2016 年加入 Shutterstock以来，他转向现代
				js 和 typescript。
				<br />
				2015 年，他出于个人兴趣发现了 Fabric.js，并乐在其中，在提高他的 Javascript和
				Canvas 技能方面发挥了重要作用。
				<br />
				为了回馈社会，他帮助修复库错误、添加功能并帮助人们解决问题。从那时起，他就成为了贡献者、维护者和仓库的管理员。
			</p>
		</TeamMember>
		<TeamMember imgSrc="/shachar.jpg">
			<p>
				<TeamMemberName name="Shachar Nencel" githubName="ShaMan123" /> 来自以色列。
				<br />
				自 2017 年以来，他一直在开发前端项目。
				<br />
				Shachar 热爱开源，并随时随地为开源做出贡献。
				<br />
				2021 年，在为他的初创公司开发的产品研究解决方案时，他发现了 Fabric.js。
				<br />
				在测试替代方案后，Fabric.js 获胜了 😉。
				<br />
				他的故事开始于他因为必须支持擦除而遇到障碍，因此他创建了 EraserBrush。
				<br />
				从那时起，他一直积极为 Fabric 做出贡献，拆除更多障碍，使 Fabric 变得更好、更容易使用。
				<br />
			</p>
		</TeamMember>
		<TeamMember imgSrc="/steve-eberhardt.jpg">
			<p>
				<TeamMemberName name="Steve Eberhardt" githubName="melchiar" /> 出生于 1988
				年，现居住在加拿大不列颠哥伦比亚省。
				<br />
				他从 12 岁起就开始尝试网页设计，开始在他的旧 TI-83 Plus 图形计算器上编写代码，并在
				Blender 上从事 3D 图形工作。
				<br />
				Steve 现在是 stoneycreekwinepress.com 的开发人员，负责前端网页开发并使用
				C# 和 Adob​​e ExtendScript 构建内部生产软件。他在 2017 年发现了 Fabric，并用它来构建公司的
				LabelMaker Pro 设计平台。
				<br />
			</p>
		</TeamMember>
		<h3>原始团队成员和荣誉提名</h3>
		<TeamMember imgSrc="/juriy.png">
			<p>
				<TeamMemberName name="Juriy" githubName="kangax" /> (also known as{' '}
				<a href="https://twitter.com/kangax">&quot;kangax&quot;</a>)是纽约的前端
				Web 开发人员。
				<br />
				Juriy 于 2008 年创建了 Fabric.js，当时他开始着手创办自己的初创公司 — Printio.ru。
				直到 2016 年，他一直在积极地开发它。
				<br />
				他对 Javascript 的探索始于 2008 年，从那时起，他就喜欢 从事{' '}
				<a href="https://kangax.github.io/">各种开源项目</a>。
				<br />
				直到 2010 年，Juriy 一直是{' '}
				<a href="https://prototypejs.org/">Prototype.js</a> Javascript 库的核心开发人员。
				<br />
				他在博客上撰写有关 Javascript、Fabric 和其他前端细节的文章{' '}
				<a href="https://perfectionkills.com/">perfectionkills.com</a>
				<br />
			</p>
		</TeamMember>
		<TeamMember imgSrc="/stefan.png">
			<p>
				<TeamMemberName name="Stefan Kienzle" githubName="Kienz" /> (<a
					href="https://twitter.com/kienzle_s">kienzle_s</a
				>) 现年 29 岁，来自德国斯图加特。
				<br />
				2005 年至 2008 年间，他在巴登-符腾堡州合作州立大学学习商业信息学。
				<br />
				自 2010 年以来，Stefan 一直在 HTML5 项目中使用 Fabric.js 绘制交互式车祸草图。在此期间，他学到了很多关于Fabric.js
				和 JavaScript 的知识。
				<br />
				2013 年，他被邀请作为 Fabric.js github 项目的积极贡献者参与其中。从那时起，他一直尽最大努力改进库并帮助其他人使用
				Fabric.js。
				<br />
				Stefan 对 HTML5、CSS3 和 JavaScript 非常感兴趣。在工作中（在 保险公司），他使用Oracle
				PL/SQL 语言 和 HTML/JavaScript 编写 Web 应用程序。
				<br />
			</p>
		</TeamMember>
	</main>
</Layout>

<style>
	h3 {
		@apply font-extrabold m-2 text-xl;
	}
</style>
