<header id="site-header">
	<a id="logo" href="/">
		<img alt="FabricJS logo" src="/logo.svg" />
	</a>
	<slot />
	<nav>
		<ul>
			<li>
				<a href="/"> 首页 </a>
			</li>
			<li>
				<a href="/demos"> 演示集 </a>
			</li>
			<li>
				<a href="/docs"> 文档 </a>
			</li>
			<li>
				<a href="/api"> Api 规格 </a>
			</li>
			<li>
				<a href="/team"> 开发团队 </a>
			</li>
			<li class="content-center">|</li>
			<li class="content-center">
				<a
					href="https://github.com/fabricjs/fabric.js/"
					target="_blank"
					class="!py-4"
				>
					<img alt="github" src="/assets/github.svg" class="w-8 h-8" />
				</a>
			</li>
		</ul>
	</nav>
</header>

<style>
	.vpi-social-github {
		width: 20px;
		height: 20px;
		fill: currentColor;
		--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M12 .297c-6.63 0-12 5.373-12 12c0 5.303 3.438 9.8 8.205 11.385c.6.113.82-.258.82-.577c0-.285-.01-1.04-.015-2.04c-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729c1.205.084 1.838 1.236 1.838 1.236c1.07 1.835 2.809 1.305 3.495.998c.108-.776.417-1.305.76-1.605c-2.665-.3-5.466-1.332-5.466-5.93c0-1.31.465-2.38 1.235-3.22c-.135-.303-.54-1.523.105-3.176c0 0 1.005-.322 3.3 1.23c.96-.267 1.98-.399 3-.405c1.02.006 2.04.138 3 .405c2.28-1.552 3.285-1.23 3.285-1.23c.645 1.653.24 2.873.12 3.176c.765.84 1.23 1.91 1.23 3.22c0 4.61-2.805 5.625-5.475 5.92c.42.36.81 1.096.81 2.22c0 1.606-.015 2.896-.015 3.286c0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
	}
	#site-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 16px;
		line-height: 1;
		background: var(--sl-color-bg-nav);
		z-index: 9;
	}
	#logo {
		width: 200px;
		display: block;
		text-align: center;
		align-self: flex-start;
	}

	#site-header > nav {
		position: fixed;
		bottom: 0;
		right: 0;
		width: 100%;
		height: var(--bottom-nav-height);
		/*border-top:1px solid #eee;*/
		/*padding:0 10px;*/
		z-index: 999;
	}
	#site-header > nav::before {
		content: '';
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0 /*var(--bottom-nav-height)*/;
		height: 80px /*var(--bottom-nav-height)*/;
		background: -moz-linear-gradient(
			top,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.15) 100%
		);
		background: -webkit-linear-gradient(
			top,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.15) 100%
		);
		background: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.15) 100%
		);
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=0 );*/
		z-index: -1;
		pointer-events: none;
	}

	#site-header > nav > ul {
		width: 100%;
		display: flex;
		justify-content: space-around;
		background-color: #fff;
		border-radius: 15px 15px 0 0;
		padding: 0 20px;
		box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}
	/*#site-header>nav>ul>li{display:inline-block;width:25%}*/

	#site-header > nav > ul > li > a {
		color: var(--font-color-normal);
		display: block;
		height: var(--bottom-nav-height);
		padding: 12px 0;
		font-size: var(--font-size-smaller2);
	}
	#site-header > nav > ul > li > a:active {
		color: var(--primary-color);
		box-shadow: 0 3px 0 0 var(--primary-color) inset;
	}
	#site-header > nav > ul > li > a:hover {
		color: var(--primary-color);
	}

	@media (orientation: landscape) {
		#site-header > nav {
			width: 300px;
		}
		#site-header > nav > ul {
			border-radius: 30px 0 0;
		}
	}
	@media (min-width: 800px) and (orientation: landscape) {
		#site-header {
			display: flex;
			/*flex-wrap:nowrap;flex-direction:row;*/
			flex-flow: row nowrap;
			align-items: center; /*vertical alignment; 'stretch' will give full height*/
			justify-content: space-between;

			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: var(--header-height);
			padding: 0 var(--padding-left-right);
			background: #fff;
			/*border-bottom:1px solid #eee;/*#eaeaea*/
			z-index: 9;
		}
		#site-header > nav {
			/*flex-basis:*/
			width: 50%;
			height: unset;
			position: unset;
			background-color: unset;
		}
		#site-header > nav::before {
			display: none;
		}
		#site-header > nav > ul {
			justify-content: space-between;
			background-color: unset;
			border-radius: unset;
			padding: 0;
			box-shadow: unset;
		}

		#site-header > nav > ul > li > a {
			height: var(--header-height);
			padding: 24px 0;
			font-size: unset;
		}
		#site-header > nav > ul > li > a:active {
			color: var(--font-color-dark2);
			box-shadow: 0 -3px 0 0 var(--primary-color) inset;
		}
	}
</style>
