.contributorCard {
  text-align: center;
  width: 45%;
  margin: 5px;
}

.contributorCard img {
  border-radius: 50%;
  width: 90%;
}

@media (min-width: 400px) {
  .contributorCard {
    width: 120px;
  }
}